[2021-06-05 22:03] quinn-dougherty opened #1 "Replicate "logit lens""
## Description
Replicate [logit lens](https://www.lesswrong.com/posts/AcKRB8wDpdaN6v6ru/interpreting-gpt-the-logit-lens)

## Motivation (optional)

_

## Point person (optional)

_

## Deliverable (optional)

_

## Timeline (optional)

_

[2021-06-05 22:04] quinn-dougherty opened #2 "Enforce logit lens by pruning logits after each layer"
## Description

Enforce logit lens by pruning logits after each layer (needs elaboration)

## Motivation (optional)

_

## Point person (optional)

Gurkenglas

## Deliverable (optional)

_

## Timeline (optional)

_

[2021-06-05 22:16] quinn-dougherty opened #3 "For one layer and each training time and one test input, gimme the covariance matrix of activations"
## Description

_

## Motivation (optional)

_

## Point person (optional)

Gurkenglas

## Deliverable (optional)

_

## Timeline (optional)

_

[2021-06-05 22:16] quinn-dougherty opened #4 "[Replication] Interpretability Illusion"
## Background

Replicate and visualize https://arxiv.org/abs/2104.07143

## What to Replicate?

## Modifications

## Related Papers/Frameworks

[2021-06-05 22:18] quinn-dougherty opened #5 "[Replication] "Transformer Feed-Forward Layers Are Key-Value Memories""
## Background

## What to Replicate?

The paper

## Modifications

Do it with large autoregressive models

## Related Papers/Frameworks

Paper: https://arxiv.org/abs/2012.14913

EleutherAI's language modeling framework: https://github.com/EleutherAI/gpt-neox

Code from the paper: https://github.com/mega002/ff-layers/

[2021-06-06 14:56] #2 closed

[2021-06-06 14:57] #3 closed

[2021-06-06 15:02] Gurkenglas opened #6 "poke at logit lens"
The logit lens describes a supisciously legible pattern in GPT's internals. Let's play around with it: Can we enforce it? Can we suppress it? Call Gurkenglas on discord for rambling.

[2021-06-06 15:11] Gurkenglas opened #7 "Plot training history of hidden representations in GPT"
How quickly do different layers of GPT learn what they learn? Fix a test input and a point in time. The network calculates an activation vector per layer. (Then it's added onto that layer's input via skip connection.) Fix a layer and vary the point in time. Plot the path that this vector takes, perhaps as a heatmap of the dot product of any two snapshots. Do talk to Gurkenglas for rambling. This p

[2021-06-15 17:13] StellaAthena opened #9 "Test Issue"
- **Project:** What is your project?
- **Project Lead(s):** Who is responsible for making this project happen?
- **Project Members:** Who is a participant in the project (say, did something productive in the past month)?
- **Elevator Pitch:** A short (max 1 paragraph) explanation of what your project is and why it is awesome.
- **Goal Outputs:** When this project is over, what things do you intend

[2021-06-16 20:23] kcoost opened #10 "Catastrophic forgetting in Transformers"
- **Project:** Catastrophic forgetting in Transformers
- **Project Lead(s):** Whoever wants to do this. @Kip and I (@fristiloverke) will be available for help.
- **Project Members:** Open to whoever wants to join
- **Elevator Pitch:** It is well-known that CNNs and LSTMs can suffer from catastrophic forgetting, which means that they forget previously learned information upon learning new informati

[2021-06-16 21:02] kcoost commented on #10
@StellaAthena could you add the labels [help wanted], [Newbies welcome] and [recruiting ML dev] to this project

[2021-06-17 00:22] StellaAthena opened #11 "[RFP] Does the order of training data influence memorization?"
## Background

It’s pretty well known that neural networks, including transformers, can “memorize” data ([Intro blog post](https://bair.berkeley.edu/blog/2020/12/20/lmmem/), [Paper 1](https://arxiv.org/abs/2012.07805), [Paper 2](https://arxiv.org/abs/2104.07762)). This can lead to transformers regurgitating exact copies of texts in the training data, a phenomenon that can cause legal and ethical p

[2021-06-17 00:40] StellaAthena commented on #10
I have taken a transformer, fine-tuned it on a task, and evaluated it on a different task. Every time I’ve done that, performance drops.

Are there particular levels of performance loss you would like to see?

[2021-06-17 15:17] Jeevesh8 commented on #10
**Hypothesis:** The performance on downstream task depends only on performance for Language Modelling. Based on "[A Mathematical Exploration of Why Language Models Help Solve Downstream Tasks](https://arxiv.org/pdf/2010.03648.pdf)".

**Proposition:**

1. If the hypothesis is true, it would be more logical to check how fast you can recover performance on language modelling/how much performance on l

[2021-06-17 15:32] StellaAthena commented on #10
I think that this (as worded) is false. Can you make an concrete prediction that I can try to falsify?

[2021-06-17 16:40] Jeevesh8 commented on #10
So suppose there are 2 models, which obtain same loss on language modelling task. Now they may perform differently on downstream task. Despite the fact that the relation between downstream and pre-training task remains same.
You ignore this phenomenon, and say "a model that performs better on language modelling has a better chance of performing good on downstream task".
An example: Suppose you wan

[2021-06-17 19:19] StellaAthena commented on #10
Can you describe an experiment I can run that would potentially disprove this hypothesis?

[2021-06-21 04:24] StellaAthena opened #12 "[Project] GPT-NeoX: an open-source framework for training language models with billions of parameters"
**Project:** GPT-NeoX

**Codebase and Materials:** [codebase](https://github.com/EleutherAI/gpt-neox/), [training data](pile.eleuther.ai)

**Project Lead(s):** Sid Black (@sdtblck)

**Currently Active Members:** Alex Andonian (@alexandonian), Stella Biderman (@StellaAthena), Sid Black (@sdtblck), Preetham Gali (@preethamgali), Shivanshu Purohit (@ShivanshuPurohit)

**Elevator Pitch:** Massive lang

[2021-06-22 04:00] shpotes commented on #11
I can definitely work around this, could you assign me the issue?

[2021-06-28 09:31] ConnorJL opened #13 "[Project] Are large LMs ensembles of shallow paths?"
- **Project:** Are large LMs ensembles of shallow paths?
- **Project Lead(s):** Connor
- **Project Members:** Jacob Merizian
- **Elevator Pitch:** [Attention Is Not All You Need](https://arxiv.org/abs/2103.03404) shows on page 11 that their (very small) transformer's performance depends mostly on very short paths through the model, making it a kind of "ensemble of shallow attention networks". Can

[2021-06-28 13:20] #9 closed

[2021-06-30 17:00] StellaAthena opened #15 "[Replication] Scale "Adversarial Watermarking Transformer""
## Background

[Adversarial Watermarking Transformer: Towards Tracing Text Provenance with Data Hiding](https://arxiv.org/abs/2009.03015) is the first serious attempt to combine [data hiding](https://arxiv.org/abs/0802.3746) with language models. Unfortunately, the original authors are rather compute limited, and it's unclear how scalable their method is. Replicate their work at the 1B parameter s

[2021-07-03 00:10] jmerizia commented on #13
I spoke with Connor earlier today, and I think I can give this one a try. I'll be incrementally filling up this doc as I go along: https://docs.google.com/document/d/1D06G9v8K0Q6LUzHTkC_ARJqHPip990I-OdNp9wlVej4/edit

[2021-07-03 00:44] StellaAthena commented on #13
@jmerizia Opened a repo for this project: https://github.com/EleutherAI/attention-ensemble

[2021-07-08 16:31] StellaAthena opened #16 "[RFC] Decision Transformer + SLAM"
## Motivation

_

## Hypothesis/Conjecture

_

## Proposed Experiments(Or series of Experiments)

_

Let know what you people think about the hypothesis and design of experiments, in the comments below! Also, feel free to propose new/better experiments.

[2021-07-09 02:10] leogao2 opened #17 "[Project] Automated paper writing assistant"
- **Project:** What is your project name?
- **Elevator Pitch:** A short (max 1 paragraph) explanation of what your project is and why it is awesome.
- **Goal Outputs:** When this project is over, what things do you intend to have produced? An open source codebase? An academic paper? A new dataset?
  - paper about the system written using the system
- **Milestones:** At a high level, what are the m

[2021-07-13 15:25] Jeevesh8 commented on #10
## Related Papers with Small Abstracts
1. [On the interplay between fine-tuning and Sentence-Level Probing for Linguistic Knowledge in Pre-trained Transformers](https://aclanthology.org/2020.blackboxnlp-1.7.pdf)

**Abstract :** Studies  BERT, RoBERTa, and ALBERT, and investi-gate through sentence-level probing how fine-tuning affects  their  pre-trained representations. Finds that for some probing

[2021-07-13 15:36] Jeevesh8 commented on #10
There was also, very similar attempt before in [Intermediate-Task Transfer Learning with Pretrained Models for Natural Language Understanding: When and Why Does It Work?](https://arxiv.org/abs/2005.00628), but the results, imho, aren't that interesting(compared to above papers). But these people weren't aware of other work above, at the time they did their work. Probably can combine their works wi

[2021-07-20 09:35] bhadreshpsavani commented on #11
Hi,
This seems interesting task to me,
I would like to work on it!

[2021-07-20 16:16] StellaAthena commented on #11
Awesome! You should be able to get started on Google Colab, though we'll need to use a computing cluster for larger models if we don't want it to take forever. Have you used any of our code before? The first step will probably simply be getting used to running the code base.

[2021-07-20 16:24] bhadreshpsavani commented on #11
I once did fine-tuning on GPT-Neo smaller version for text generation task. I will start by creating colab notebook.

[2021-07-28 01:35] AI-WAIFU opened #18 "[Project] Better Concept Pointers"
# Project: Better Concept Pointers
## Elevator Pitch
There's an argument that there's a correspondence between the [pointers problem](https://www.lesswrong.com/tag/the-pointers-problem), Goodhart's law and adversarial examples.[1] It stands to reason that progress on the latter can be used to develop techniques for dealing with the latter.
## Goal Outputs
The goal is to develop a technique for rob

[2021-07-28 03:04] AI-WAIFU opened #19 "Restricted Privilege Value Learning"
# Project: Human Feedback Without Privileged information channels
## Elevator Pitch
Many alignment schemes have a "privileged information" channel that is used for value learning. For instance, learning from human feedback used ranking/voting information from users. This works fine when there are solid boundaries between humans, agents, and environments, but as agent capabilities increase, those l

[2021-07-29 05:37] leogao2 opened #20 "[RFP] Low and high order coherence as model loss improves"
## Background

We predict that LMs will learn low order coherence (i.e grammar) first, and then learn higher order coherence (i.e logical soundness) later (where by later I mean lower loss). The question is, even if this seems intuitively correct, can we actually observe this in real models? If it does, this seems to provide important insights into how learning dynamics are and lets us infer a mor

[2021-07-29 05:56] leogao2 opened #21 "[RFP] Can models learn partially observed state? (Rubiks cube experiment)"
## Background

Language models need to be able to learn things about the world while only partially observing some of the internal state. For example, LMs will never be able to observe what goes on inside people's heads, but they can observe part of the state through what humans say and do. Can LMs learn this kind of internal state in theory?

## What to plot?

To test this we can train models on

[2021-07-29 06:05] leogao2 opened #22 "[RFP] Can large models do a simple task (i.e arithmetic) perfectly?"
## Background

If really overpowered models can't learn something basic like arithmetic well (assuming all-arithmetic training set, sane tokenization w/out BPEs, etc), that implies something about what LMs can and can't learn. If present day models can't learn a simple task with the huge advantage of massive overparameterization and a purely-task dataset and favorable tokenization, then we should

[2021-07-29 06:09] leogao2 opened #23 "[Idea] Are big LMs mesaoptimizing?"
## Motivation

Mesaoptimization in big LMs would be kind of concerning, and would make any LM+RL really unsafe.

Main problems to figure out are:

- How do we want to define mesaoptimization
- What would be evidence of mesaoptimization in a LM
- What implications on larger models does this have

I don't have satisfying answers for these yet.
_

## Hypothesis/Conjecture

Big LMs might be mesaoptimi

[2021-07-30 02:17] kingoflolz opened #24 "[RFP] Qualitative evaluations of mixing language models"
## Background

Scaling laws show that loss follows a smooth plot give compute, data etc, but there is an open question of if loss alone accurately captures the qualitative performance.

## What to plot?

Use some pretrained language models (GPT-Neo, GPT-J, GPT2 etc) and create a scatterplot of human evaluation scores vs loss.

Additionally, mix the logits of different models during generation, to

[2021-08-01 04:01] leogao2 opened #25 "[RFP] Transfer learning from one vocab to another"
## Background

It would be useful to transfer a model trained using one vocab to another vocab.

## What to plot?

Train one model with vocab A, and one with vocab B. Plot two training curves: training of B, and training of a model with vocab B but with weights except for embedding matrix resumed from A.

Possible values for A and B:

- GPT2 tokenizer and pile trained
- BPE and SentencePiece on sa

[2021-08-05 22:10] rookiemann commented on #10
Hello, I saw the 'help wanted' sign and that you're Newbies Welcome. I'd like to help out however I can, very interested in NLP and have a basic understanding of ML. My experiences with ML are limited to a lot of reading on it and some experimental projects and tutorials here and there.  I'm not bad in Python, very copy/paste coder but I can read it fine and can edit and modify it to fit. Thanks f

[2021-08-06 03:46] ak9250 opened #26 "Multilingual Jukebox"
- **Project:** What is your project name?
- Multilingual Jukebox
- **Elevator Pitch:** A short (max 1 paragraph) explanation of what your project is and why it is awesome.
- train a scaled up jukebox on a multilingual dataset
- **Goal Outputs:** When this project is over, what things do you intend to have produced? An open source codebase? An academic paper? A new dataset?
- codebase, pretrained m

[2021-08-06 04:26] #26 closed

[2021-08-06 23:42] CurtisASmith commented on #11
I've been keeping this idea in the back of my head for a few weeks, and I have some thoughts.

"Take GPT-Neo 1.3B, GPT-J, or some other autoregressive transformer with known training data and prompt it with the first 20 tokens of each document in its train set". While we do know the training data, we actually know which order each particular model read the data, "the position of the document in th

[2021-08-07 03:38] StellaAthena commented on #11
It was shuffled, but we saved the shuffled data post-shuffle. We know exactly what order tokens were fed into both GPT-Neo and GPT-J.

I'm not sure I understand this plot. Are you shuffling at the token or document level? What was the data you finetuned on? If you shuffled at the document level (shuffling at a finer level is wrong because it destroys intratext structure) it's hard for me to believ

[2021-08-07 03:39] StellaAthena commented on #11
Hey @bhadreshpsavani have you been able to make any progress on this?

[2021-08-07 05:14] CurtisASmith commented on #11
My concern is unfounded then, glad to hear it.

The data is shuffled at a document level [with this script](https://github.com/kingoflolz/mesh-transformer-jax/blob/master/create_finetune_tfrecords.py). The dataset in question has three broad categories of documents: fiction, metafiction (an imprecise term, mostly metadata-tagged stories, writing prompts with responses, and analyses of fiction), an

[2021-08-07 07:12] bhadreshpsavani commented on #11
Hi @StellaAthena,
I got busy will some personal things, Will progress this week.

[2021-08-09 22:16] leogao2 opened #27 "[Project] LM Eval Harness"
- **Project:** eval harness (https://github.com/EleutherAI/lm-evaluation-harness)
- **Elevator Pitch:** This project provides a unified framework to test autoregressive language models (GPT-2, GPT-3, GPTNeo, etc) on a large number of different evaluation tasks.
- **Goal Outputs:** An open source library and a paper about the library.
- **Milestones:** At a high level, what are the major milestones

[2021-08-09 22:20] leogao2 opened #28 "[Project] Pyfra"
- **Project:** pyfra
- **Elevator Pitch:** The objective of pyfra is to make it as fast and low-friction as possible to write research code involving complex pipelines over many machines. Currently, this means being like shell scripts on steroids. See https://github.com/EleutherAI/pyfra/ for a piece of sample code that illustrates the main features of pyfra.
- **Goal Outputs:** Open source library

[2021-08-10 19:01] Jeevesh8 commented on #25
Related paper, but quite different in purpose: [exBERT](https://aclanthology.org/2020.findings-emnlp.129.pdf)

[2021-08-12 01:36] leogao2 opened #29 "[RFP] Iso-effective-context byte level vs BPE tokenization"
## Background

Apparently byte level models do worse than BPE models (todo: find where this is from / show in our own experiments) even if the embd at each position is the same size. This is generally taken to mean that byte level isn't efficient for learning, but there's another possibility: it could just do worse because it has smaller effective context (and less context means the model has a ha

[2021-08-12 01:43] leogao2 opened #30 "[RFP] Token-length-weighted LM loss"
## Background

(this idea due to alstroemeria313)
Weight the loss of tokens by their decoded lengths, so that the loss objective corresponds to BPB rather than bits per token.

## What to plot?

Obviously this will do better on BPB. Will it also do better on eval harness?

[2021-08-12 01:48] leogao2 commented on #11
@CurtisASmith Is this plot train or val? If the former, can you post the val plot? I think it would be important to see that, since obviously the training data distribution varies throughout the plot and makes a comparison of the models' quality difficult. (Even better would be to run it on [eval harness](https://github.com/EleutherAI/lm-evaluation-harness) and see downstream task performance)

[2021-08-12 15:44] uSaiPrashanth commented on #22
[Mathematics Dataset](https://github.com/deepmind/mathematics_dataset)

[2021-08-12 18:07] osmarks commented on #21
Hasn't this already been investigated via the chess language models which just output move sequences? IIRC they worsened a lot after some number of moves because of possibly this issue.

[2021-08-13 04:42] leogao2 commented on #21
You mean the ones that play chess? I think there's a lot of possible reasons why a LM would be bad at chess after the first few moves. In any event, I don't really care about how good the model is at playing chess / solving the cube, I care way more about whether it can learn the state specifically.

[2021-08-13 16:37] cfoster0 commented on #22
Prior art, for addition and subtraction:
Investigating the Limitations of Transformers with Simple Arithmetic Tasks
https://arxiv.org/abs/2102.13019

[2021-08-15 18:15] leogao2 opened #31 "[RFP] How strong is the inductive bias of model size for higher order coherence?"
## Background

Larger models seem to reach the same loss faster. This seems to imply they're more sample efficient, however that assumption assumes all models of the same loss have about the same subjective quality (which is almost certainly not true, you can construct pathological examples to show failure cases of this assumption, but what I'm more interested in is if this assumption holds in pra

[2021-08-16 13:10] Lucaman97 commented on #21
Hello, I'm interested in the task, I would like some guidance for it. Thanks

[2021-08-16 14:35] StellaAthena commented on #11
No worries! We are all working in our free time, and I understand that like takes precedence.

Any updates?

[2021-08-18 18:57] dschonholtz commented on #11
I'd be interesting in giving this a shot.
Do we have the order of input training data for the large pretrained models or are we going to have to train everything from scratch collecting that data for the order of the input training data as we go? Or the seed that was used for the random shuffle?

[2021-08-18 19:11] bhadreshpsavani commented on #11
Hi @dschonholtz,
Please go ahead with your Analysis since its such task multiple people can show their findings,
I am stuck in few personal things.
If we use pile data, How can we sample of data for our analysis? Since it's huge data we can't really download it on local machine as well on colab

[2021-08-18 22:09] StellaAthena commented on #11
@dschonholtz

The Pile comes pre-shuffled, and was not shuffled additionally before training.

You can find the data broken into 16 GB chunks [here](https://the-eye.eu/public/AI/pile/train/). The files are numbered sequentially in training order, so first we trained on `0.jsonl.zst`, then `1.jsonl.zst`, etc.

[2021-08-19 18:30] bhadreshpsavani commented on #11
Hi @StellaAthena,
Even one Chunk of data is giving OOM error on [colab](https://colab.research.google.com/drive/1z0w4I3wD81lnVmfC8aXzczQrDPJ-IYnX?usp=sharing). Is there any other way to get even small data than this 14gb data?

[2021-08-19 22:20] StellaAthena commented on #11
@bhadreshpsavani what is a good size chunk to use? 1 GB?

[2021-08-20 03:42] bhadreshpsavani commented on #11
Hi @StellaAthena,
1gb will work I guess!, For analysis 500mb will also be fine.

[2021-08-21 21:06] dschonholtz commented on #11
Colab was giving me issues similar to the ones described above so I'm running things locally.
I'm making a few assumptions. Since I'm a novice if you could tell me if I'm going off wildly in the wrong direction that'd be appreciated.

Assumptions:

- Using the pretrained 2.7B hugging face model locally should be fine. (10 seconds to run a short generation on my machine? Maybe will take several hou

[2021-08-22 12:00] uSaiPrashanth commented on #11
Hello
after working on this for a while, I came with the following notebooks
[Logits without shuffling:](https://www.kaggle.com/usaiprashanth/gpt-1-3b-model?scriptVersionId=72628572)

[Logits after shuffling:](https://www.kaggle.com/usaiprashanth/gpt-1-3b-model?scriptVersionId=72629767)

and finnally, the [EDA](https://www.kaggle.com/usaiprashanth/gpt-eda?scriptVersionId=72693301)

from this, I in

[2021-08-22 12:05] uSaiPrashanth commented on #11
Here are the datasets which I created in the process:
[The pile](https://www.kaggle.com/usaiprashanth/the-pile-train-00-dataset) and finally, [the logits](https://www.kaggle.com/usaiprashanth/gptmodel-outputs)

Do note that these were logits of gpt-neo-1.3B model.

[2021-08-22 12:19] uSaiPrashanth commented on #11
Another point worth noting is that data with less than 40 tokens was skipped

[2021-08-22 13:09] StellaAthena commented on #11
This is probably a stupid question, but I’ve had a migraine for 48 hours so bear with me…. Can you walk me through what the code you just shared does? My original ask was for the number of correctly reproduced continuation tokens as a function of the index position within the training data, it looks like this might be the logits for the next 20 tokens instead? But what role does shuffling the data

[2021-08-22 13:47] uSaiPrashanth commented on #11
Your interpretation of the notebooks is right. I've used the first 20 tokens to compare the values of next 20 tokens. The reasoning behind that was your statement: **Count the number of subsequent tokens correctly reproduced and plot # reproduced vs the position of the document in the training data.**

[2021-08-22 13:51] uSaiPrashanth commented on #11
I initially assumed, by the statement: "Order of the training data", that you wanted to if this order in which each document was trained had an influence in it's predictions. Thus, I trained it twice, with and without shuffling and found that the ordering of documents indeed doesn't matter.

[2021-08-22 14:49] StellaAthena commented on #11
You said

Are you saying that you trained a 1.3B model, from scratch, on the Pile twice? And that on average the same number of tokens are memorized regardless of training order?

[2021-08-22 14:57] uSaiPrashanth commented on #11
No, I just evaluated them. and on average the same number of tokens are memorized regardless of training order.

[2021-08-23 01:10] dschonholtz commented on #11
@uSaiPrashanth correct me if I'm wrong but this is what I understand the current gameplan to be.
You are currently running your kaggle notebook again referencing the 29.jsonl.zst file. That way you will have a measure of how many tokens are repeated after the first 20 tokens are given as input all else being equal for 00.jsonl.zst and 29.jsonl.zst. This is all with the 1.3 B model

Meanwhile, I am

[2021-08-23 19:34] zphang opened #32 "[Project] Preparatory-Training (Placeholder name)"
**tl;dr**: Add a second phase of pre-training to explicitly train models to be good at prompt-tuning and few-shot learning.

Full proposal: https://docs.google.com/document/d/1ER4tCfXO_Qn6GBWLi70sjrz-6kaMj8HCrTmFFnLf088/

Short version:

0. Choose a pretrained model e.g. GPT-J, T5, GLM
1. Build a large set of NLU and NLG tasks. Piggy-back off https://github.com/EleutherAI/lm_evaluation_harness/ wh

[2021-08-24 05:03] uSaiPrashanth commented on #11
After evaluating the model gpt-neo-1.3B on 0th shard, it was then evaluated on 29th shard

The following [eda](https://github.com/uSaiPrashanth/eleutherai-experiments/blob/main/gpt-eda-combined.ipynb) is obtained after evaluating it on 29th shard
From what we can see, I think we can conclude that: For gpt-neo-1.3B model, the order of training doesnot influence memorization.

[2021-08-25 00:38] dschonholtz commented on #11
I have results for the 2.7 B model. It isn't much different.
Very hacky notebook is here:
https://github.com/dschonholtz/EleutherProjects/blob/main/HuggingFaceSimple.ipynb

Pretty similar numbers on my end.
            Means
Temp      0 Shard       29 Shard
  1         2.2071         2.3036
 .7         2.5679         2.7714
 .4         2.7679         2.9071

STD Dev ranges from 4.2 to 4.61.
The fa

[2021-08-25 13:57] StellaAthena commented on #11
Now that we have some working demos, I made a GitHub repo to organize code: https://github.com/StellaAthena/transformer-memorization

[2021-08-28 20:05] cfoster0 opened #33 "[Idea] Knowing When GPT Knows It's Lied"
## Motivation

GPT models do not always tell the truth, and may *knowingly* make false claims [1]. From a user's standpoint, then, it is unclear how to build reliable applications on top of these models when there is a chance they'll unexpectedly spew falsehoods. Moreover, from an alignment standpoint, it may be valuable [2] to have tools available to flag a GPT's internal workings when they may b

[2021-08-30 00:56] evhub commented on #33
I'm a big fan of this proposal.

[2021-09-01 00:38] cfoster0 commented on #33
Thanks for the feedback @evhub ! This was  definitely inspired by the work you've been doing on deceptive alignment and honest prediction. Is there a particular aspect of the proposal that's interesting to you?

[2021-09-01 18:42] StellaAthena commented on #5
@quinn-dougherty Who is working on this project? Where is the code, what are the goals, etc?

[2021-09-02 23:29] goodgravy commented on #10
I think [Learning and Evaluating
General Linguistic Intelligence](https://arxiv.org/pdf/1901.11373.pdf) answers this question, finding that BERT accuracy does degrade when you continue fine-tuning on other question-answering datasets.

[2021-09-03 23:09] evhub commented on #5
I definitely agree that [Geva et al.](https://arxiv.org/abs/2104.08696) is in need of a replication--also [Dai et al.](https://arxiv.org/abs/2104.08696), which builds on Geva et al. but seems even more sketchy. See [my conversation with Paul Christiano here](https://arxiv.org/abs/2104.08696) for some thoughts on things that seem sketchy about Dai et al. (and also sort of by extension Geva et al.)

[2021-09-03 23:13] evhub commented on #33
I'm most interested in understanding what's happening inside of large language models when they lie--e.g. does the model completely separately store the false information and the true information and the prompt just locates one or the other, or does it actually have some way of distorting the true information when it thinks the result should be false.

[2021-09-10 09:12] Jeevesh8 commented on #20
A primitive view can be to just try and use [SentEval](https://github.com/facebookresearch/SentEval) at various stages of pre-training, to see the level of coherence captured by the model at that point during pre-training.

[2021-09-13 00:30] #1 closed

[2021-09-13 00:43] StellaAthena opened #34 "[RFP] Set the record straight on environmental impacts of NLP"
## Background

There's a lot of disinfo on the internet about the energy and environmental costs of large language models. It would be nice to be able to set the record straight.

## What to plot?

It's not really a _plot_ per se, it's more a table. I need a table of all papers published in *CL venues in 2019, 2020, and 2021. Each datum should read `(paper name, venue name, year, type of paper)` w

[2021-09-17 04:36] cfoster0 commented on #33
After some discussion in the server, I'm going to try to put a bit more meat on what I mean by a model "knowing it has lied". We can build on existing work, including the strict notion of truthfulness from the TruthfulQA paper (https://www.alignmentforum.org/posts/PF58wEdztZFX2dSue/how-truthful-is-gpt-3-a-benchmark-for-language-models) and the following definition of intent misalignment, pulled fr

[2021-09-20 20:55] StellaAthena opened #35 "[RFP] Does “ Topographic VAEs learn Equivariant Capsules” Scale?"
## Background
A recent interesting paper in topological deep learning unfortunately only experiments on MNIST. Let’s try it on something more interesting.

**Topographic VAEs learn Equivariant Capsules**
ArXiV abstract: https://arxiv.org/abs/2109.01394
Yannic's video: https://www.youtube.com/watch?v=pBau7umFhjQ
Code: https://github.com/AKAndyKeller/TopographicVAE

## What to plot?

It should be th

[2021-09-22 18:09] #35 closed

[2021-09-22 18:12] StellaAthena opened #36 "[Replication] Scaling "Topographic VAEs learn Equivariant Capsules""
## Background
A recent interesting paper in topological deep learning unfortunately only experiments on MNIST. Let’s try it on something more interesting.

**Topographic VAEs learn Equivariant Capsules**
ArXiV abstract: https://arxiv.org/abs/2109.01394
Yannic's video: https://www.youtube.com/watch?v=pBau7umFhjQ
Code: https://github.com/AKAndyKeller/TopographicVAE

## What to Replicate?

It should

[2021-09-26 07:35] josemlopez commented on #4
Hi, I'll be reading and trying to replicate this paper.

### About the preparation
I suppose that the idea is to use GPT-NeoX instead of BERT.
I'll be starting with this: https://huggingface.co/EleutherAI/gpt-neo-1.3B which is very straightforward. Please, just tell me if there is interest in using another model(s).
I'll use similar datasets for the inputs:  Quora Question Pairs dataset, question

[2021-10-07 18:17] mgobrain commented on #34
@StellaAthena how does this look for a first pass? I wasn't sure how to classify long vs short so I just returned page length.
[papers_2019_to_2021.csv](https://github.com/EleutherAI/project-menu/files/7306065/papers_2019_to_2021.csv)

[2021-10-08 05:48] TheodoreGalanos opened #37 "[Idea] Decision Transformers and Go-Explore: explore UDRL in an open-ended setting"
## Motivation

* Experiment and play around with Decision Transformer (DT) models, they seem cool.
* Explore their potential and capacity for creating diverse generators, when coupled with powerful exploration algorithms like Go-Explore and large-scale datasets.
* Most DT models seem to be, as of now, quite vanilla in terms of their architecture. An ablation study across modern architecture choice

[2021-10-09 18:49] goodgravy commented on #10
@StellaAthena – @nicholasturner1 talked us through this paper in the reading group and I agree there's been a ton of progress here! I do think that the pretraining dataset-dependent results described in [§5.4](https://arxiv.org/pdf/1901.11373.pdf) would be a useful addition to the results in the ICLR paper. My take on this is something like "forgetting is less catastrophic in larger models, with m

[2021-10-09 23:02] StellaAthena commented on #10
Interesting. Do you think we should close this as settled then? Or leave it open since the combo hasn’t been specifically addressed?

[2021-10-14 16:05] mgobrain opened #38 "[RFP] Scaling laws sweep"
## Background

This is the scaling laws parameter sweep. @StellaAthena wanted to use wandb to find optimal configurations for GPT-NeoX.

## What to plot?

Parameter sweep for model size exponents from 10 to 21, starting coarsely with ~3 configurations for each model size.

## Related Papers/Frameworks
Much of the discussion has taken place on the discord at #gpt-neox

@misc{kaplan2020scaling,

[2021-10-14 17:20] StellaAthena opened #39 "[Implementation] "A Fast Fourier Transform for Fractal Approximations""
## Background

Generalized CNNs (often called "Group Equivariant CNNs") are CNNs that build non-Euclidean geometric priors into their architecture. Recently, these generalized CNNs have been successfully applied in a variety of spaces with a geometric group structure. One area where they've been notably ineffective is on fractal geometries.

Recent work in mathematical analysis has generalized the

[2021-10-15 13:47] StellaAthena commented on #11
@uSaiPrashanth has gotten a preliminary answer of "no" for GPT-J. Our next step is to translate the analysis to working on the GPT-NeoX codebase (possibly using the LM Eval Harness) so we can explore more model types.

[2021-10-15 15:33] StellaAthena commented on #36
Definitely! I'm actually very interested in the idea of using Temporal Coherence (4.5.1) for time series analysis and potentially story-telling models (see my prior work on storytelling with @LouisCastricato [here](https://arxiv.org/abs/2103.12872), [here](https://arxiv.org/abs/2104.07472), and [here](https://arxiv.org/abs/2110.03111))

[2021-10-15 21:51] excitingtimes commented on #36
@LouisCastricato here's my discord --> rohan42#3508 :)

[2021-10-16 17:10] dtch1997 commented on #39
I have started working on this: see https://github.com/dtch1997/fractal-fft/blob/33513493b7260fa58e599c899675b5b60a4ac315/src/fractal_fft/fractal_fft.py

Currently I need some way to test my implementation.
I.e. an equivalent computation of Fractal FFT that is provably correct.

[2021-10-17 15:36] tanmoyio commented on #37
I am going to start working on this issue from today.

[2021-10-18 13:54] TheodoreGalanos commented on #37
Hi @tanmoyio ! That's amazing, let me know if you want to have a chat either in the discord or outside. Perhaps we can get more people interested in this :)

[2021-10-18 16:19] tanmoyio commented on #37
@TheodoreGalanos yeah sure, lets discuss this on discord. let me know your username so I can find you

[2021-10-25 01:15] leogao2 opened #40 "[Idea] Likelihood minimization for low KC strings as an auxillary objective"
## Motivation/Experiment

LMs are often repetitive because they assign higher likelihood to repetitive strings; this is doubly true for beam search which almost always becomes repetitive. General Eleuther canon is that this is because there are way way fewer lower-KC strings than high KC strings, so even though the set of all high KC strings has in total more mass than the set of all low KC string

[2021-10-25 03:50] StellaAthena commented on #37
@tanmoyio his discord username is `gabriel_syme`. I’m pretty interested in this too, but probably don’t have time to help.

When you have code on GitHub, definitely link it here so others can follow along :)

[2021-10-25 03:54] StellaAthena commented on #32
@zphang To what extent would you say that this was scooped by FLAN and T0?

[2021-10-25 03:55] StellaAthena commented on #37
This is somewhat duplicative of #16, but this version should be kept as it is more detailed

[2021-10-25 04:04] StellaAthena commented on #5
@MicPie Did anything ever happen with this?

[2021-10-25 04:05] StellaAthena commented on #16
Closing as it is the same as #37

[2021-10-25 04:06] StellaAthena commented on #4
@josemlopez did anything happen with this?

[2021-10-25 17:13] josemlopez commented on #4
Hi Stella,
Thanks for checking.
After a few days with this, I had a storm in my company which I expect to leave behind the next week.
That said, I changed my mind after not being able to replicate the experiment in my first attempt and my idea is now 1) replicate the with Bert, and once I see that Bert is working, then replicate with gpt-neox.

[2021-10-25 18:02] StellaAthena commented on #4
@josemlopez Cool! I assigned you the issue and look forward to your results with BERT

[2021-11-09 15:22] tnwei commented on #22
The paper's authors concluded from their experiments that models couldn't learn addition rules independent of the length of numbers seen in training, is that observation concrete enough to answer the RFP?

[2021-11-20 20:09] sdtblck opened #41 "Implement Non-negative matrix factorisation from the Alpha-Zero paper in (ideally HF) language models"
Alpha zero paper: https://arxiv.org/pdf/2111.09259.pdf

NMF technique is detailed in section 7.1

[2021-11-22 13:08] ConnorJL commented on #13
Jacob did some good work here, but ultimately the FF layers in actual transformers ruin the abstraction as they "mix" all the different paths, and we haven't come up with any good idea of how to fix this problem. If anyone can come up with a new theoretical abstraction to generalize this analysis to full transformers, I'd love to hear it, otherwise this project is probably not possible.

[2021-11-22 13:24] StellaAthena commented on #13
This seems like a sufficiently noteworthy negative result to merit a blog post

[2021-11-23 19:37] MicPie commented on #5
Sorry, I was running out of time and I'm not sure if this project is already taken over by somebody else (there was a discussion some weeks ago).

[2021-11-23 19:43] StellaAthena commented on #5
Not as far as I know. Someone took a look at it but nothing came of it.

[2021-11-25 20:19] hmen97 commented on #36
@StellaAthena I would like to work on this, here's my [fork](https://github.com/hmen97/TopographicVAE.git), made a few changes

[2021-11-25 21:36] StellaAthena commented on #36
@hmen97 Awesome! Go ham :) I’m quite interested in seeing how it goes. DM me on Discord to talk about compute resources.

[2021-12-18 07:32] tnwei commented on #39
Musings from a passerby: from a cursory search, there doesn't seem to be other comparable implementations available. Perhaps validating the implementation would require designing a series of test cases? Probably a lot easier said than done.

Or maybe @StellaAthena is more than happy to stick this on a FractalCNN head already.

[2022-01-04 12:07] arbdwj commented on #5
I am starting on this.

[2022-01-05 16:35] #38 closed

[2022-02-03 03:20] jackransomlovell commented on #36
hey, @hmen97 @StellaAthena I'd be psyched to work on this. I've focused on the VAE from a cognitive science perspective for a bit. gonna read the paper, watch yannick's vid b/w now and Monday, and review the fork b/w now and Monday. lmk if anyone wants to chat.

[2022-03-20 04:47] iRonJ commented on #22
We know LLMs can learn to write code, I suspect they would do extremely well on arithmetic if you just do prompt engineering such as "//javascript to solve 3+5-3" or something along those lines

In the vein of this problem though, thinking about how DeepMind used database lookups to shrink their LM and boost performance (https://deepmind.com/blog/article/language-modelling-at-scale), what if you h

[2022-03-20 14:46] iRonJ commented on #22
The other idea behind the sub models is that something like clip can be plugged in and trained to similar text encodings, and the same math submodels should transfer to VQA tasks.

[2022-03-21 23:46] iRonJ commented on #22
This approach would also allow for multi-step computations

[2022-03-25 01:08] iRonJ commented on #22
https://arxiv.org/abs/2203.13224

An interesting paper here that I think could inform an approach to this issue

[2022-04-05 01:38] iRonJ commented on #22
looks like Google took a whack at arithmetic by adding a calculator

http://ai.googleblog.com/2022/04/pathways-language-model-palm-scaling-to.html

[2022-04-08 19:16] iRonJ commented on #22
Further work here, related to robotics, and having models talk to each other, with a very similar circular diagram as above:
https://socraticmodels.github.io/

![](https://socraticmodels.github.io/images/SM-discussion.png)

link to paper https://arxiv.org/abs/2204.00598

[2022-04-11 08:37] rasutt commented on #41
What the HF stand for here?

[2022-04-23 17:26] iRonJ commented on #22
some other work in this area

https://www.ai21.com/blog/jurassic-x-crossing-the-neuro-symbolic-chasm-with-the-mrkl-system

[2022-04-29 02:12] cfoster0 commented on #18
This new work may have some relevance: https://arxiv.org/abs/2204.12301

[2022-05-16 14:46] iRonJ commented on #22
Here’s a user of gpt neo that uses an extensive prompt to get reliable arithmetic

https://news.ycombinator.com/item?id=30309302

[2022-05-17 04:31] StellaAthena commented on #22
This is GPT-3, presumably the 175B model, not GPT-Neo

[2022-05-21 08:09] manuelsh commented on #22
I think it is. What additional observations are needed?

[2022-05-29 21:51] toontran commented on #22
This paper reminds me of the following one, where the author claims that BERT models cannot deductively reason, i.e. use rules, due to "statistical features".
https://arxiv.org/abs/2205.11502

But then we saw how GPT-3 can do arithmetic reasonably well if steps are explicitly written out

Is there a way to reconcile both these facts? I know this is not an apple-to-apple comparison, but it seems th

[2022-06-15 20:59] TheodoreGalanos opened #50 "[Project] Flaminglet - Multimodal adapters for extending capabilities of PLMs"
- **Project:** What is your project name?

Flaminglet :)

- **Elevator Pitch:** A short (max 1 paragraph) explanation of what your project is and why it is awesome.

The idea is simple: try to train tiny flamingo models on top of NeoX and evaluate the model's performance on visual-language tasks. It would probably not do generation but things like captioning, VQA, etc. should be possible. This is

[2022-06-27 20:54] manuelsh commented on #13
Why don't you move the project to "abandoned/dormant" in the [board](https://github.com/EleutherAI/project-menu/projects/1)? Is the board active?

[2022-08-31 17:24] imr555 commented on #36
@StellaAthena , Is anyone working on this? I can go through the material and try to get the code up and running for cifar-10, and cifar-100.

If we are ambitious enough, we can try out cub-200, oxford flowers, standard cars dataset too. These datasets are known for fine grained image classification where the classes are hard to distinguish.
More details here. (https://paperswithcode.com/task/fine-

[2022-08-31 17:33] LouisCastricato commented on #36
No one is working on this.

[2022-08-31 17:37] imr555 commented on #36
@LouisCastricato , So is this abandoned, Just curious? Might try my hand at it if it's not abandoned.

[2022-08-31 20:49] StellaAthena commented on #36
@imr555 You're quite welcome to work on it. I would need to refresh to get back up to speed but I think this is still a worthwhile project.

[2022-09-01 08:01] imr555 commented on #36
No worries, Thank You, @StellaAthena  ...... Reason for the interest is, I had a brief stint with Capsules and VAEs back in 2020. I will look into it.